#upload-photos {
  display: none;
}
.preview-image {
  width: 8%;
  height: 8%;
  margin: 6px 12px;
  border-radius: 20px;
}
.preview-image-wrapper {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .preview-image {
    width: 29%;
    height: 29%;
    border-radius: 15px;
    margin: 6px;
  }
}
