.heading {
  font-weight: 600;
  font-size: 3rem;
  margin: 10px 0;
}
.subHeading {
  font-weight: 500;
  font-size: 2rem;
  line-height: 150%;
}

@media only screen and (max-width: 768px) {
  .heading {
    font-size: 2.5rem;
  }
  .subHeading {
    font-size: 1.5rem;
  }
}
