.App{
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:768px){
  .App{
    padding:30px 0;
  }
}


.hero-image-container{
  max-width: 672px;
  margin-top:78px;
}

.hero-image{
  width:100%;
}